.hello{
  background: url() no-repeat center center fixed;
  background-size: cover;
  opacity:1;
}
.well{
  font-family: cursive;
  font-size: 30px;
}
.temp ,. city{
  font-size: 20px;
  color: red;
}
.rupeshiya{
  color: red;
  font-family: Monotype Corsiva;
  text-align: center;
}
.footer{
  font-size: 15px;
  font-family: cursive;
  color: red;
}
